.about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 0 80px 104px;
  margin: 0 auto;
  max-width: 1440px;
  gap: 30px;
  background-color: white;
}

.about__image {
  width: min(40vw, 464px);
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  object-fit: cover;
}

.about__content {
  max-width: 600px;
  padding-right: calc(19.495%);
}

.about__title {
  font: 400 40px/46px Roboto Slab, Arial, sans-serif;
  color: #1a1b22;
  margin-bottom: 20px;
}

.about__description {
  font: 400 18px/24px Roboto, Arial, sans-serif;
  color: #1a1b22;
}

@media screen and (max-width: 768px) {
  .about {
    padding: 61px 40px;
  }

  .about__image {
    width: 272px;
    height: 272px;
  }

  .about__title {
    font: 400 30px/40px Roboto Slab, Arial, sans-serif;
  }

  .about__content {
    padding: 0;
  }
}

@media screen and (max-width: 625px) {
  .about {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 32px 16px;
    margin: 0;
    gap: 0;
  }

  .about__image {
    width: 272px;
    height: 272px;
  }

  .about__title {
    font: 400 30px/40px Roboto Slab, Arial, sans-serif;
  }

  .about__content {
    padding: 0;
  }
}
