.nav {
  display: flex;
  position: relative;
  align-items: center;
}

.nav_loggedin {
  gap: 64px;
}

.nav_loggedout {
  gap: 42px;
}

.nav__link {
  text-decoration: none;
  font-weight: 500;
}

.nav__link_path_main {
  color: #b6bcbf;
  transition: transform 0.5s;
}

.nav__link_path_main:hover {
  transform: scale(1.1);
}

.nav__link_path_main_active {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

.nav__link_path_main_active::after {
  content: "";
  border-bottom: 3px solid #fff;
  position: absolute;
  left: -9px;
  width: 68px;
  top: 59px;
}

.nav__link_path_saved-news {
  color: #1a1b22;
  transition: transform 0.5s;
}

.nav__link_path_saved-news:hover {
  transform: scale(1.1);
}

.nav__link_path_saved-news_active {
  color: #1a1b22;
}

.nav__link_path_saved-news_active::after {
  content: "";
  border-bottom: 3px solid #1a1b22;
  position: absolute;
  right: 91px;
  width: 178px;
  top: 60px;
}

.nav__button {
  font-weight: 500;
  background: none;
  padding: 0;
  cursor: pointer;
  border-radius: 100px;
  transition: transform 0.5s;
}

.nav__button:hover {
  transform: scale(1.1);
}

.nav__button_path_main {
  color: #fff;
  border: 1px solid #fff;
}

.nav__button_path_saved-news {
  color: #1a1b22;
  border: 1px solid #d1d2d6;
  transition: border 0.5s, transform 0.5s;
}

.nav__button_path_saved-news:hover {
  border: 1px solid #1a1b22;
}

.nav__button_content_signin {
  padding: 13px 60px;
}

.nav__button_content_logout {
  display: flex;
  padding: 12px 15px 12px 19px;
  gap: 15px;
  align-items: center;
}

.nav__menu-button {
  display: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  border: none;
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: opacity 0.5s;
}

.nav__close-button {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  border: none;
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: opacity 0.5s;
}

.hidden {
  display: none !important;
}

.nav__menu-button:hover {
  opacity: 0.4;
}

@media screen and (min-width: 626px) {
  .navigation__links {
    font: 500 18px/24px Roboto, Arial, sans-serif;
    display: flex;
    align-items: center;
    list-style: none;
    gap: 64px;
    margin: 0;
    padding: 0;
  }

  .navigation__links > :nth-child(1) {
    margin-right: 12px;
  }

  .navigation__link {
    text-decoration: none;
    color: #b6bcbf;
    font-size: 16px;
    position: relative;
  }

  .navigation__link_active {
    color: white;
  }

  .navigation__link_home_saved-news {
    color: #1a1b22;
  }

  .navigation__link_saved-news_active {
    color: #1a1b22;
  }

  .navigation__link_active::after {
    content: "";
    position: absolute;
    bottom: -31px;
    left: 50%;
    transform: translateX(-50%);
    width: 174%;
    height: 2px;
    background-color: white;
  }

  .navigation__link_saved-news_active::after {
    content: "";
    position: absolute;
    bottom: -31px;
    left: 50%;
    transform: translateX(-50%);
    width: 150%;
    height: 2px;
    background-color: #1a1b22;
  }

  .navigation__button_signin {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 15px 67px;
    border-radius: 100px;
    cursor: pointer;
    font: 500 18px/24px Roboto, Arial, sans-serif;
  }

  .navigation__button_signin:hover {
    background-color: white;
    color: #2f71e5;
  }

  .navigation__button_user {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 100px;
    width: 112px;
    height: 48px;
    padding: 0 10px;
    cursor: pointer;
    font: 500 18px/24px Roboto, Arial, sans-serif;
  }

  .navigation__button_user:first-child {
    padding-left: 18px;
  }

  .navigation__button_user_saved-news {
    color: #1a1b22;
    border: 1px solid #1a1b22;
  }

  .navigation__button_user img {
    width: 24px;
    height: 24px;
    margin-left: 10px;
  }

  .navigation__button_user:hover {
    background-color: white;
    color: #2f71e5;
  }
}

@media screen and (max-width: 919px) {
  .nav__link {
    font-size: 16px;
  }

  .nav__link_path_main_active::after {
    top: 58px;
  }

  .nav__button {
    font-size: 16px;
  }

  .nav__link_path_saved-news_active::after {
    right: 135px;
  }
}

@media screen and (max-width: 625px) {
  .nav_loggedin {
    gap: 25px;
  }

  .nav__link_path_saved-news_active::after {
    width: 125px;
    right: 120px;
  }

  .nav__link_path_main_active::after {
    top: 62px;
  }

  .nav__link_path_saved-news_active::after {
    top: 63px;
  }

  .nav__menu-button {
    display: block;
  }

  .navigation__links {
    display: none;
  }
}
