.card {
  max-width: 400px;
  width: 32%;
  height: 576px;
  position: relative;
  text-decoration: none;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.card__image {
  border-radius: 18px 18px 0 0;
  object-fit: cover;
  max-width: 400px;
  max-height: 272px;
  height: 100%;
}
.card__content {
  height: 304px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 20px 24px 24px;
  background-color: #fff;
  border-radius: 0 0 18px 18px;
  box-sizing: border-box;
}

.card__date {
  font: 400 18px/24px Roboto, Arial, sans-serif;
  color: #b6bcbf;
  margin: 0;
}

.card__title {
  font: 400 26px/30px Roboto Slab, Arial, sans-serif;
  color: #1a1b22;
  margin: 0 0 4px 0;
  padding-bottom: 25px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  height: 100%;
}

.card__paragraph {
  margin: 0 0 6px 0;
  padding-top: 10px;
  color: #1a1b22;
  font: 400 16px/22px Roboto, Arial, sans-serif;
  max-height: 110px;
  height: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card__source {
  margin: 0;
  color: #b6bcbf;
  font: 700 16px/20px Roboto Slab, Arial, sans-serif;
  text-transform: uppercase;
}

.card__absolute-content {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  gap: 5px;
}

.card__warning {
  visibility: hidden;
  background-color: #fff;
  color: #000;
  font: 500 12px/14.06px Roboto, Arial, sans-serif; 
  padding: 11px 20px;
  border-radius: 8px;
  margin: 0;
  border: none;
  cursor: pointer;
  opacity: 0;
  transition: visibility 0s 0.5s, opacity 0.5s;
}

.card__warning_active {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.5s;
}

.card__keyword {
  border-radius: 10px;
  padding: 8px 22px;
  background-color: #fff;
  color: #000;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.7;
}

.card__button {
  border-radius: 8px;
  width: 40px;
  height: 40px;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: background-image 0.5s;
}

.card__button_path_main {
  background-image: url(../../assets/inactive-bookmark.svg);
}

.card__button_path_main:hover {
  background-image: url(../../assets/hover-bookmark.svg);
}

.card__button_path_main_active {
  background-image: url(../../assets/active-bookmark.svg);
}

.card__button_path_saved-news {
  background-image: url(../../assets/inactive-trash.svg);
}

.card__button_path_saved-news:hover {
  background-image: url(../../assets/active-trash.svg);
}

@media screen and (max-width: 919px) {
  .card {
    height: 420px;
    width: 32.6%;
  }

  .card__content {
    height: 270px;
    padding: 16px;
    justify-content: space-between;
  }

  .card__image {
    max-height: 150px;
  }

  .card__title {
    font-size: 22px;
    line-height: 1.1;
    margin: 0;
    padding-bottom: 10px;
    -webkit-line-clamp: 3;
  }

  .card__paragraph {
    max-height: 88px;
    -webkit-line-clamp: 3;
  }

  .card__warning {
    font-size: 10px;
    padding: 7px 10px;
  }
}

@media screen and (max-width: 631px) {
  .card {
    width: 45%;
  }
}

@media screen and (max-width: 501px) {
  .card {
    width: 100%;
    height: 100%;
  }

  .card__content {
    padding: 16px;
    gap: 8px;
  }

  .card__date {
    margin-bottom: 2px;
  }

  .card__title {
    font-size: 22px;
    line-height: 1.1;
  }

  .card__paragraph {
    margin: 0;
  }

  .card__image {
    max-height: 196px;
    height: 196px;
  }
}